div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj2341 {
position: absolute;
overflow: hidden;
top: 684px;
left: 485px;
width: 208px;
height: 48px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj2901 {
position: absolute;
overflow: hidden;
top: 14px;
left: 1028px;
width: 126px;
height: 85px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj2879 {
position: absolute;
overflow: hidden;
top: 8px;
left: 1026px;
width: 130px;
height: 97px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj2872 {
position: absolute;
overflow: hidden;
top: 138px;
left: 1248px;
width: 100px;
height: 38px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj2869 {
position: absolute;
overflow: hidden;
top: 182px;
left: 1213px;
width: 170px;
height: 39px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj2866 {
position: absolute;
overflow: hidden;
top: 230px;
left: 1213px;
width: 170px;
height: 39px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj2863 {
position: absolute;
overflow: hidden;
top: 277px;
left: 1213px;
width: 170px;
height: 39px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj2860 {
position: absolute;
overflow: hidden;
top: 320px;
left: 1213px;
width: 170px;
height: 39px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj1698 {
position: absolute;
overflow: hidden;
top: 95px;
left: 186px;
width: 808px;
height: 479px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1698_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 808px;
	height: 479px;
}
div#obj2325 {
position: absolute;
overflow: hidden;
top: 135px;
left: 178px;
width: 824px;
height: 454px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj2325_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 824px;
	height: 454px;
}
div#obj2330 {
position: absolute;
overflow: hidden;
top: 898px;
left: 532px;
width: 116px;
height: 69px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj2330_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 69px;
}
div#obj2897 {
position: absolute;
overflow: hidden;
top: 23px;
left: 1046px;
width: 83px;
height: 22px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj2897_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 83px;
	height: 22px;
}
div#obj2899 {
position: absolute;
overflow: hidden;
top: 43px;
left: 1060px;
width: 85px;
height: 24px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj2899_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 85px;
	height: 24px;
}
div#obj2895 {
position: absolute;
overflow: hidden;
top: 54px;
left: 1045px;
width: 85px;
height: 43px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj2895_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 85px;
	height: 43px;
}
div#obj2875 {
position: absolute;
overflow: hidden;
top: 145px;
left: 1213px;
width: 170px;
height: 206px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj2875_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 170px;
	height: 206px;
}

div#obj2337 {
position: absolute;
overflow: hidden;
top: 696px;
left: 514px;
width: 150px;
height: 31px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #FFFFFF;
}
div#obj2337_content {
}



div#obj1700 {
position: absolute;
overflow: hidden;
top: -16px;
left: -27px;
width: 1237px;
height: 853px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj2339 {
position: absolute;
overflow: hidden;
top: 684px;
left: 491px;
width: 199px;
height: 48px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FFFFFF;
border-width: 1px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj2877 {
position: absolute;
overflow: hidden;
top: 114px;
left: 1197px;
width: 202px;
height: 273px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #000000;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText p.Title {
    font-size: 72px;
}
.SCText p.body {
    font-size: 18px;
    font-family: "IBM Flex Sans", sans-serif;
    font-weight: 100; /* Imposta il peso del font a 200 */
}
.drago {
	color: red;
}




.SCPage {
background-color: #FFFFFF
}
